@import "tailwindcss";
@import "./styles/gradients.css";
@import "@fontsource/pitagon-sans-mono/200.css";
@import "@fontsource/pitagon-sans-mono/700.css";
@import "@fontsource/quicksand/300.css";
@import "@fontsource/quicksand/500.css";
@import "@fontsource/quicksand/700.css";
@config "../tailwind.config.js";

@theme {
  --color-magenta-light: #f63b6e;
  --color-magenta-medium: #c44674;
  --color-magenta-dark: #7e215d;

  --color-cyan-light: #6bb8f7;
  --color-cyan-medium: #20649d;
  --color-cyan-dark: #0e245b;

  --color-background: #0f0535;
  --color-foreground: #ffffff;

  --radius: 0.5rem;

  --font-sans: 'Quicksand', sans-serif;
  --font-mono: 'Pitagon Sans Mono', monospace;
}

@layer base {
  * {
    @apply border-cyan-medium;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {}

@layer utilities {}