@import "tailwindcss";
@import "./styles/gradients.css";
@import "@fontsource/pitagon-sans-mono/200.css";
@import "@fontsource/pitagon-sans-mono/700.css";
@import "@fontsource/quicksand/300.css";
@import "@fontsource/quicksand/500.css";
@import "@fontsource/quicksand/700.css";
@config "../tailwind.config.js";

@theme {
  --color-background: #0f0535;
  --color-foreground: #f0f0f0;

  --color-card: #0f0535;
  --color-card-foreground: #f0f0f0;

  --color-popover: #003368;
  --color-popover-foreground: #f0f0f0;

  --color-primary: #8a278d;
  --color-primary-foreground: #ffffff;

  --color-secondary: #054674;
  --color-secondary-foreground: #f0f0f0;

  --color-muted: #043555;
  --color-muted-foreground: #a0a0a0;

  --color-accent: #12cab5;
  --color-accent-foreground: #002858;

  --color-destructive: #f0028d;
  --color-destructive-foreground: #ffffff;

  --color-border: #054674;
  --color-input: #054674;
  --color-ring: #8a278d;

  --radius: 0.5rem;

  --color-chart-1: #8a278d;
  --color-chart-2: #12cab5;
  --color-chart-3: #054674;
  --color-chart-4: #f0028d;
  --color-chart-5: #002858;

  --color-loud: #F24444;
  --color-loud-less: #7e215d;

  --font-sans: 'Quicksand', sans-serif;
  --font-mono: 'Pitagon Sans Mono', monospace;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {}

@layer utilities {}
