@import "tailwindcss";
@import "./styles/gradients.css";
@import "@fontsource/pitagon-sans-mono/200.css";
@import "@fontsource/pitagon-sans-mono/700.css";
@import "@fontsource/quicksand/300.css";
@import "@fontsource/quicksand/500.css";
@import "@fontsource/quicksand/700.css";
@config "../tailwind.config.js";

@theme {
  --color-magenta-light: #f63b6e;
  --color-magenta-medium: #c44674;
  --color-magenta-dark: #7e215d;

  --color-cyan-light: #6bb8f7;
  --color-cyan-medium: #20649d;
  --color-cyan-dark: #0e245b;

  --color-background: #0f0535;
  --color-foreground: #ffffff;

  --radius: 0.5rem;

  --font-sans: 'Quicksand', sans-serif;
  --font-mono: 'Pitagon Sans Mono', monospace;
}

@layer base {
  * {
    @apply border-cyan-medium;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {}

@layer utilities {
  .text-alt {
    @apply bg-magenta-medium text-white;
  }

  .highlighted-text {
    @apply bg-magenta-medium text-white px-2 py-1 mt-1 inline-block;
  }

  .film-grain {
    isolation: isolate;
  }

  .film-grain::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 10;
    opacity: 0.4; /* Adjusts grain intensity */
    pointer-events: none; /* Allows clicking through the grain */
    mix-blend-mode: overlay; /* Blends the grain with the background */
    
    /* The "Magic" SVG Noise Layer */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.5' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  }
}